<div>
    <h1>registrate</h1>
    <form id="registerForm">
        <label>Nombre</label>
        <input type="text" name="first_name">        <label>Apellido</label>
        <input type="text" name="last_name">        <label>Email</label>
        <input type="email" name="email">        <label>Password</label>
        <input type="password" name="password">
        <input type="submit">
    </form>
</div>

<script src="./js/register.js"></script>